@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

:root {
  --primary-color: #8C0000;
  --primary-hover-color: #580000;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

html, body {
  margin: 0;
  padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}